@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, html
{
	height: 100%;
}

body 
{
        background-size: 20%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-color: rgb(250,250,250);
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 1em;
	margin: 0%;
	padding: 0%;
}

/*Sticky Footer Code*/
#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {
        position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
        line-height: 150px;
        text-align: center;
        color: rgb(80,80,80);
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
/*End Sticky Footer*/

h1, h2 
{
	font-family: 'Roboto Slab', serif;
}

#main-body
{
	width: 100%;
	height: 100%;
}

.body-box 
{
	margin: 0;
	background-color: rgb(230,230,230);
        padding: 2% 5%;
	position: relative;
	z-index: 2;
}

.body-box-clear 
{
	margin: 2% 10%;
	padding: 2%;
}

.protip
{
        margin: 0% 0% 1% 0%;
        height: auto;
        background-color: rgb(250,250,250);
        color: rgb(100,100,100);
        border-radius: 5px;
        padding: 0.5em;
}

.protip.protip-green
{
        background-color: rgba(0, 182, 57, 0.3);
        color: rgb(0, 100, 57);
}

.protip.protip-clear
{
        background-color: rgba(0,0,0,0);
        border: none;
        color: rgb(80,80,80);
}

.protip p, .protip a
{
        color: inherit;
        text-align: center;
        margin: 0.5em;
}

.protip a:hover
{
        font-style: bold;
}

/*.footer 
{
        clear: both;
        background-color: black;
        /*background-image: url("/clubhub/media/chalk.jpg");*//*
        margin-top: 5%;
        padding: 2% 12%;
        box-shadow: 0.2em -0.2em 0.2em rgba(0,0,0,0.2);
        
}*/

img.footer-logo {
        width: 5%;
        height: auto;
        vertical-align: bottom;
}

footer 
{
	color: white;
}

.branding-box 
{
	width: 35%;
        margin: 2% auto;
	clear: both;
}

.branding-box img
{
	vertical-align: middle;
}

.branding-box h1
{
     text-align: center;
     margin-top: 0.5em 0 0 0;
     font-size: 1.5em;
     font-family: 'Roboto', sans;
     font-weight: 300;
}

#club-logo 
{	
	width: 100%;
	height: auto;
}

.menu
{
	position: relative;
	width: 2%;
	margin: 2% 0% 5% 3%;
	padding: 2% 0%;
	float: left;
	z-index: 1;
}

.menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

.menu li
{
	margin: 0% 0% 10% 0%;
	max-width: 100%;
	float: left;
}

.menu a
{
	max-width: 100%;
	overflow: hidden;
}

.menu a:link, .menu a:visited
{
	display: block;
	color: white;
	background-color: none;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.divider-tab p
{
	color: rgb(128,128,128);
	background-color: none;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	margin: 10%;
	height: auto;
	
	/* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.divider-tab
{
        margin: 0% 0% 3% 0% !important;
}


.menu a:hover, .menu a:active
{
	/*background-color: rgb(55,171,200);*/
	background-color: rgba(255,255,255, 0.5);
}

.feed
{
        margin: 2% 2%;
	padding: 2%;
	border: 1px dashed rgb(200,200,200);
}

.feed iframe
{
	display: block;
	border: none;
	width: 100%;
	/*height: 100%;*/
	height: auto;
	seamless: true;
	overflow: scroll;
}

/*.feed .feedtitle
{
        padding: 0px;
        margin: 0px;
}

.feed .feedcontent
{
        float:left;
}

.feed img
{
        float: left;
        margin: 2%;
        max-width: 30%;
}*/

.subtitle
{
        color: rgb(100,100,100);
        font-size: 80%;
        display: inline;
        margin-right: 1em;
}

hr
{
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(55,171,200);
}

.calendar iframe
{
	width: 100%;
	height: auto;
}

.docs
{
        margin: 2% 2%;
        padding 0.5%;
	border: 1px dashed rgb(200,200,200);
}

.docs iframe
{
        width: 100%;
        /*height: 100em;*/
        border: none;
        overflow: visible;
}

.main-outer
{
	width: 100%;
}

.checkbox
{
        padding: 2%;
}

.rotate {
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Poster Wall Stuff */
.wall
{
	height: 100%;
	text-align: justify;
}

.wall:after
{
	content: "";
	display: block;
	clear: both;
}

/*========================MITEM STYLING==============================*/

.mitem img
{
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        float: right;
	/*background-color: white;*/
	background-color: none;
	position: relative;
	z-index: 0;
	/*box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid rgba(0,0,0,0.6);*/
}

.mitem img:hover
{
        box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.3), -0.2em -0.2em 1em rgba(0,0,0,0.3);
        z-index: 2;
}

.mitem
{
        float: left;
	/*position: relative;*/
	/*background-color: white;*/
	background-color: none;
}

.mitem h1
{
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 3;
}

.mitem.mitem-small
{
        width: 150px;
}

.mitem.mitem-small-wide
{
        height: 150px;
}

.mitem.mitem-small-very-wide
{
        width: 320px;
}

.mitem.mitem-medium
{
        width: 240px;
}

.mitem.mitem-medium-wide
{
        height: 240px;
}

.mitem.mitem-medium-very-wide
{
        width: 500px;
}

.mitem.mitem-large
{
        width: 300px;
}

.mitem.mitem-large-wide
{
        height: 300px;
}

.mitem.mitem-large-very-wide
{
        width: 620px;
}

.sorttip
{
        width: 90%;
        margin: 0% 0% 2% 0%;
        height: 3em;
        border-bottom: 2px solid rgba(0,102,255, 0.3);
        clear: both;
}

.sorttip p
{
        font-weight: normal;
}

.clubtip
{
        border-bottom: 3px solid rgba(255, 42, 42, 0.3);
}

.weektip
{
        border-bottom: 3px solid rgba(0, 182, 57, 0.3);
}

/*==========================END MITEM STYLING============================*/

.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.verybigtitle
{
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	/*vertical-align: middle;*/
	color: white;
	margin: auto;
	position: absolute;
	top: -10%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	width: 100%;
}

#backcover
{
	/*background: url("/imsa-undefined/clubhub/media/Academy.jpg");
	background-size: 100%;
	background-position: center;*/
	width: 100%;
	height: 100%;
	position: relative;
	background: black;
}

#frontcover
{
	background-size: 100%;
	background-position: center;
	opacity: 0;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	right: -5%;
	bottom: -5%;
	position: relative;
}

#backcover h1
{
	z-index: 2;
	opacity: 0;
	background-color: rgba(0,0,0,0.3);
	padding: 5% 0%;
}

#downarrow
{
        position: absolute;
	bottom: -25%;
	left: 0;
	right: 0;
	width: 10%;
	margin: 0 auto;
	height: auto%;
	opacity: 0.5;
	z-index: 2;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Go To Club Hub */
#gotoclubhub
{
        position: fixed;
        width: 30%;
        height: auto;
        background-color: rgb(60,60,200);
        right: -40%;
        bottom: 2%;
        z-index: 5;
        border-radius: 2em;
        opacity: 0;
}

#gotoclubhub img
{
        max-width: 10%;
        margin: 0 2%;
        display: inline-block;
        vertical-align: middle;
}

#gotoclubhub p
{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
}

#gotoclubhub a
{
        text-decoration: none;
        width: 100%;
        height: 80%;
        color: white;
        float: left;
}

#overdiv
{
        width: 100%;
        height: 100%;
        border-radius: 2em;
}

.disclaimer
{
        color: rgb(200,60,60);
}

.remindme-link
{
        text-decoration: none;
        color: black;
}

.clickable
{
    cursor: pointer;
}

.remindme.clickable:hover
{
    background-color: rgba(85,153,255,.2);
}

.clickable:hover
{
    background-color: rgba(80,80,80,.2);
}

/*Sort bar stuff*/

#sorts
{

}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: white;
  border: 1px solid rgb(0,80,200);
  color: rgb(0,80,200);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0,150,255, 0.5);
  color: white;
}

.button:active,
.button.is-checked {
  background-color: rgb(0,102,255);
}

.button.is-checked {
  color: white;
}

.button-group
{
        margin: 0% 0% 2% 0%;
        display: inline-block;
}

.buttonbar
{
        width: 100%;
}

#menubuttons
{
        float: right;
}

#imsaundefined-link
{
        background: white;
        border: 1px solid rgb(256, 100, 0);
        color: rgb(256, 100, 0);
        display: inline-block;
}

#imsaundefined-link:hover
{
        background: rgb(256, 160, 100);
        color: white;
}

#submit-link
{
        background: white;
        border: 1px solid rgb(0, 182, 57);
        color: rgb(0, 182, 57);
        display: inline-block;
}

#submit-link:hover
{
        background: rgb(100, 220, 157);
        color: white;
}

#table
{
    margin-bottom: 1%;
    width: 100%;
    table-layout: fixed;
}

#table th, #table td
{
    /*border: 1px solid rgb(100,100,100);*/
    text-align: center;
}

#table .description
{
  text-align: left;
}

#table th:first-child {
    border-radius: 5px 0 0 0;
}

#table th:last-child {
    border-radius: 0 5px 0 0;
}

#table th:only-child{
    border-radius: 5px 5px 0 0;
}

#table, #table th, #table td
{
    border-collapse: collapse;
    padding: 1em;
}

#table
{
    width: 100%;
    border-radius: 5px;        
    background-color: rgb(250,250,250);
    
}


#table th
{
    color: white;
    background-color: rgb(80,80,80);
}

#table th.sortable
{
    cursor: pointer;
}

#table th.sortable:hover
{
    background-color: rgb(90,90,90);
}

#table th.headerSortUp
{
    background-color: rgb(245,65,65);
}

#table th.headerSortDown
{
    background-color: rgb(85,153,255);
}

#table th.headerSortUp:hover
{
    background-color: rgb(245,75,75);
}

#table th.headerSortDown:hover
{
    background-color: rgb(95,163,255)
}

#table .table-info
{
    width: 8%;
}

#table .table-name
{
    width: 15%;
}

#table .table-poster
{
    width: 8%;
}

#table .table-description
{
}

#table img
{
    width: 100%;
}

#table tr:not(:last-child)
{
    border-bottom: 1px solid rgb(230,230,230);
}

.css-button a
{
    text-decoration: none;
}

.css-button div
{
    margin: 2% auto;
    width: 25%;
    height: auto;
    background-color: rgb(85,153,255);
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
    line-height: 2em;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

.css-button div:hover
{
    background-color: rgb(255,153,85);
    cursor: pointer;
}


.css-button div:active
{
    background-color: rgb(235,133,65);
}

#filterlist
{
     padding: 0 1% 1% 1%;
     margin: 0 auto;
}

.info-bubble
{
    background-color: rgb(0, 182, 57);
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    line-height: 1em;
    padding: 5px;
    margin: 5px;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    display: inline-block;
    
}

#clubhub-info div
{
    background-color: rgb(240,240,240);
    border: 1px solid rgb(80,80,80);
    color: rgb(80,80,80);
    font-size: 1em;
    width: 15%;
}

#clubhub-info div:hover
{
    background-color: rgb(100,100,100);
    color: white;
}

#clear-filters div
{
    background-color: rgb(245,65,65);
}

#clear-filters div:hover
{
    background-color: rgb(255,85,85);
}

.description
{
    max-height: 5em;
}

.fancybox
{
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}