/* The Club Hub Event Listing Stylesheets */
/* Import fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* Set global styles */

body,
html {
    height: 100%;
}
body {
    background-size: 20%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: rgb(250, 250, 250);
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

p {
	font-size: 12pt;
}
/*Sticky Footer Code*/

#wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 160px;
}
/* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -160px;
    /* negative value of footer height */
    
    height: 160px;
    clear: both;
    text-align: center;
    color: rgb(80, 80, 80);
}
/*Opera Fix*/

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}
/*End Sticky Footer*/

h1,
h2 {
    font-family: 'Roboto Slab', serif;
}
/* Body styling */

#main-body {
    width: 100%;
    height: 100%;
}
.body-box {
    margin: 0;
    background-color: rgb(230, 230, 230);
    padding: 2% 5%;
    position: relative;
    z-index: 2;
}
.body-box-clear {
    margin: 2% 10%;
    padding: 2%;
}
/* Protip Styling */

.protip, .content-area {
    margin: 0 0 1% 0;
    height: auto;
    background-color: rgb(250, 250, 250);
    color: rgb(100, 100, 100);
    border-radius: 5px;
    padding: 0.5em;
}

.content-area {
   padding: 2%;
}

.protip.protip-green {
    background-color: rgba(0, 182, 57, 0.3);
    color: rgb(0, 100, 57);
}
.protip.protip-clear {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(80, 80, 80);
}
.protip p,
.protip a {
    color: inherit;
    text-align: center;
    margin: 0.5em;
}
.protip a:hover {
    font-weight: 400;
}
/* Logo styling */

.branding-box {
    width: 35%;
    margin: 2% auto;
    clear: both;
}
.branding-box img {
    vertical-align: middle;
}
.branding-box h1 {
    text-align: center;
    margin: 0.5em 0 0 0;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#club-logo {
    width: 100%;
    height: auto;
}
/* Styling for the Event Listing */

#event-table {
    margin-bottom: 1%;
    width: 100%;
    table-layout: fixed;
}
#event-table th,
#event-table td {
    /*border: 1px solid rgb(100,100,100);*/
    
    text-align: center;
}
#event-table .description {
    text-align: left;
}
#event-table th:first-child {
    border-radius: 5px 0 0 0;
}
#event-table th:last-child {
    border-radius: 0 5px 0 0;
}
#event-table th:only-child {
    border-radius: 5px 5px 0 0;
}
#event-table,
#event-table th,
#event-table td {
    border-collapse: collapse;
}
#event-table td {
    padding: 0.4em;
}
#event-table {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
}
#event-table th {
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 1em;
}
#event-table th.sortable {
    cursor: pointer;
}
#event-table th.sortable:hover {
    background-color: rgb(90, 90, 90);
}
#event-table th.headerSortUp {
    background-color: rgb(245, 65, 65);
}
#event-table th.headerSortDown {
    background-color: rgb(85, 153, 255);
}
#event-table th.headerSortUp:hover {
    background-color: rgb(245, 75, 75);
}
#event-table th.headerSortDown:hover {
    background-color: rgb(95, 163, 255)
}
#event-table .table-info {
    width: 8%;
}
#event-table .table-name {
    width: 15%;
}
#event-table .table-poster {
    width: 8%;
}
#event-table .table-description {}  #event-table img {
    width: 100%;
}
#event-table tr:not(:last-child) {
    border-bottom: 1px solid rgb(230, 230, 230);
}
/* CSS Button Styling */

.css-button a {
    text-decoration: none;
}
.css-button div, .css-button-actualbutton {
    margin: 2% auto;
    width: 25%;
    height: auto;
    background-color: rgb(85, 153, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
    line-height: 2em;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    border: none;
}
.css-button div:hover, .css-button-actualbutton:hover {
    background-color: rgb(255, 153, 85);
    cursor: pointer;
}
.css-button div:active, .css-button-actualbutton:hover {
    background-color: rgb(235, 133, 65);
}
/* Club Hub Filter */

#filterlist {
    padding: 0 1% 1% 1%;
    margin: 0 auto;
}
.info-bubble {
    background-color: rgb(0, 182, 57);
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    line-height: 1em;
    padding: 5px;
    margin: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    display: inline-block;
}
#clear-filters div {
    background-color: rgb(245, 65, 65);
}
#clear-filters div:hover {
    background-color: rgb(255, 85, 85);
}
/* Club Hub About Button */

#clubhub-info div {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(80, 80, 80);
    color: rgb(80, 80, 80);
    font-size: 1em;
    width: 15%;
}
#clubhub-info div:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}
/* ReadMore styling for descriptions */

.description {
    max-height: 5em;
}
/* Poster preview styling */

.fancybox {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.required label:after {
	content: "*";
	color: red;
}

#event-table tbody .clickable:hover {
    background-color: rgba(80, 80, 80, 0.1);
}
