{% extends "main/base.html" %}
{% load bootstrap3 %}
{% load tz %}

{% block content %}
    {% get_current_timezone as TIME_ZONE %}
    {% timezone TIME_ZONE %}

    <!-- The usage description at the top of the page. -->
    <div class="protip">
        <p><b>Register your event with Club Hub.</b></p>
        <p>Complete the form below to enter your event into the Club Hub database. After you submit, Student Life will
            review your event for approval.</p>
	<ul>
	    <li>Please plan ahead and submit your poster at least two business
		days in advance.</li>
	    <li>Also, as a reminder, if you are using any images that
	    you have not created yourself, you will need to cite the URL for
	    where the images came from at the bottom of your poster.</li>
	    <li>Club Hub supports three types of slides: text-only slides,
	    poster and text slides, and fullscreen poster slides. If you don't
	    include a poster, Club Hub will display the information you entered
	    in a text-only format. If you include a poster but don't select
	    "Display poster fullscreen on Club Hub LIVE," it will split the
	    screen between the text description and a poster to the right of
	    it. If you select the fullscreen option, only the poster will be
	    shown, centered, on a black background. The recommended size for
	    fullscreen posters is 1920x1080px. Posters that will not be
	    fullscreen should be square and between 600x600px and
	    1000x1000px. The poster should also be <1MB in size (try JPG
	    compression if you need to).</li>
	    <li>If you have any questions, please contact Student Life.</li>
	</ul>
    </div>
    <div class="content-area">
        <form method="POST" id="submission-form" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <input type="submit" class="css-button-actualbutton" id="submit-event"
                   style="display: block; margin: 0 auto;" />
            <script>
                $(document).ready(function () {
                    $("#id_event_start_datetime").datetimepicker({
                        sideBySide: true,
                        format : 'MM/DD/YYYY hh:mm A'
                    });
                    $("#id_event_end_datetime").datetimepicker({
                        sideBySide: true,
                        format : 'MM/DD/YYYY hh:mm A'
                    });
                });
            </script>
        </form>
    </div>

    {% endtimezone %}

{% endblock %}
