{% load staticfiles %}
{% load humanize %}
{% load sanitize %}
<!DOCTYPE HTML>
<!-- Club Hub - An Automated Event Display Framework -->
<html>

<head>
    <!-- Include style files, jQuery, the ClubWall javascript code, and other important libraries -->
    <title>Club Hub LIVE | Club Hub</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "present/meta/style.css" %}"/>
    <script type="text/javascript" src="{% static "meta/bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "present/meta/clubwall.js" %}"></script>
</head>

<body>
<!-- A little progress bar that is fixed to the screen -->
<div id="timer">
    <div id="timerstat"></div>
</div>

<!-- The slideshow itself. Items are appended by clubwall.js -->
<div id="slideshow">
    <!-- The main card shown at the beginning of each presentation cycle. Modify as you like it. -->
    <div class="step" data-transition-duration="5000">
        <a name="step-0"></a>
        <div class="clubcard" id="titlecard">
            <div id="logobox-toppad"></div>
            <div id="logobox">
                <img id="club-logo" src="{% static "present/media/Club_Hub_LIVE_Branding.png" %}" alt="Club Hub"/>
            </div>
            <div id="clubhubinfo">
                <p style="margin-bottom: 0">version 3.1.0</p>
                <p style="background: yellow; font-size: 1.5em; padding: 1%; color: black">See your event here! Submit a
                    poster at <span style="font-weight: 700;">clubhub.imsa.edu/submit</span>.</p>
		<p>
		    Copyright: George Moe, IMSA Class of 2017
		    <br>
		    Powered by: ViewSonic, provided by Connections (connections.com)
		    <br>
		    Supported by: IMSA Information Technology Services
		</p>
                <div id="credits">
                    <img class="logo" src="{% static "media/georgemoe_logo.png" %}"
                         alt="Created by George Moe"/>
                </div>
            </div>
        </div>
    </div>
    {% for poster in posters %}
        <div class="step" data-transition-duration="{{ poster.slide_duration }}">
            <a name="step-{{ forloop.counter }}"></a>

            {% if poster.poster_file %}
                {% if poster.display_fullscreen %}
                    <div class="clubcard fullposter" id="card-{{ forloop.counter }}" style="background-image: url({{ poster.poster_file.url }});">
                        {% if poster.allow_custom_html %}
                            <p class="detail">{{ poster.event_body|safe }}</p>
                            {% if poster.custom_function %}
                                <a id="stepfunction{{ forloop.counter }}" data-function="{{ poster.custom_function }}"></a>
                            {% endif %}
                        {% endif %}
                {% else %}
                    <div class="clubcard" id="card-{{ forloop.counter }}">
                    {% if poster.allow_custom_html %}
                        {% if poster.custom_function %}
                        <a id="stepfunction{{ forloop.counter }}" data-function="{{ poster.custom_function }}"></a>
                        {% endif %}
                    {% endif %}
                        <div class="clubcard-box eventhead">
                            <h1 class="title">{{ poster.event_name }} <span class="host">by {{ poster.event_host }}</span></h1>
                        </div>
                        <div class="clubcard-box eventtext">
                            <h3 class="logis">

                                {{ poster.event_start_datetime|date:"l, M j, Y" }}<br/>
                                {{ poster.event_start_datetime|time:"g:i A" }}<br/>
                                {% if poster.event_specific_location %}
                                {{ poster.event_location|humanize }}: {{ poster.event_specific_location }}
                                {% else %}
                                {{ poster.event_location|humanize }}
                                {% endif %}
                            </h3>
                            {% if poster.allow_custom_html %}
                                <p class="detail">{{ poster.event_body|safe }}</p>
                            {% else %}
                                <p class="detail">{{ poster.event_body|sanitize }}</p>
                            {% endif %}
                        </div>
                        <div class="eventmedia">
                            <div class="poster" style="background-image: url({{ poster.poster_file.url }});"></div>
                        </div>
                {% endif %}
                    </div>
            {% else %}
                <div class="clubcard" id="card-{{ forloop.counter }}">
                    <div class="clubcard-box eventhead">
                        <h1 class="title">{{ poster.event_name }} <span class="host">by {{ poster.event_host }}</span></h1>
                    </div>
                    <div class="clubcard-box eventtext" style="right: 0">
                        <h3 class="logis">

                            {{ poster.event_start_datetime|date:"l, M j, Y" }}<br/>
                            {{ poster.event_start_datetime|time:"g:i A" }}<br/>
                            {% if poster.event_specific_location %}
                            {{ poster.event_location|humanize }}: {{ poster.event_specific_location }}
                            {% else %}
                            {{ poster.event_location|humanize }}
                            {% endif %}
                        </h3>
                        {% if poster.allow_custom_html %}
                            <p class="detail">{{ poster.event_body|safe }}</p>
                            {% if poster.custom_function %}
                                <a id="stepfunction{{ forloop.counter }}" data-function="{{ poster.custom_function }}"></a>
                            {% endif %}
                        {% else %}
                            <p class="detail">{{ poster.event_body|sanitize }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}
	<!-- disable image-only slide per helpdesk request #23026
    <div class="step" id="unsplash" data-transition-duration="5000">
        <a name="step-{{ posters.count|add:"1" }}"></a>
        <div class="clubcard background" id="card-{{ posters.count|add:"1" }}"
             style="background-image: url(https://source.unsplash.com/category/nature/1920x1080);">
        </div>
    </div>
    -->
</div>

{% block extrabody %}
{% endblock %}
</body>

</html>
